<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}TechStore PPM{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'product_list' %}"
          >TechStore</a
        >
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-expand navbar-nav ms-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'product_list' %}">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'cart_detail' %}">Carrello</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-link text-info"
                >Ciao, <strong>{{ user.username }}</strong> —
                <span class="badge bg-secondary"
                  >{{ user.get_role_display }}</span
                ></span
              >
            </li>
            {% if user.is_manager or user.is_superuser %}
            <li class="nav-item">
              <a class="btn btn-sm btn-warning text-dark fw-bold me-2 shadow-sm" href="{% url 'manager_dashboard' %}">
                Pannello Gestore
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <form
                action="{% url 'logout' %}"
                method="post"
                class="d-inline"
              >
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-danger">
                  Logout
                </button>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a
                class="btn btn-sm btn-outline-light me-2"
                href="{% url 'login' %}"
                >Accedi</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show shadow-sm mb-4" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
      {% endif %}
      {% block content %} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
