{% extends 'base.html' %} {% block title %}Catalogo Prodotti -
TechStore{%endblock %} {% block content %}
<div class="row">
  <div class="col-12 mb-4">
    <h2 class="fw-bold text-center">Il Nostro Catalogo</h2>
    <p class="text-muted text-center">
      Esplora i prodotti disponibili nel negozio.
    </p>
  </div>
</div>

{% if user.is_authenticated %}
    {% if user.is_manager or user.is_superuser %}
    <div class="row mb-3">
        <div class="col-12 text-end d-flex justify-content-end gap-2">
            <a href="{% url 'category_create' %}" class="btn btn-outline-success btn-sm shadow-sm d-flex align-items-center gap-1">
                <i class="bi bi-folder-plus"></i> Nuova Categoria
            </a>
            <a href="{% url 'product_create' %}" class="btn btn-outline-success btn-sm shadow-sm d-flex align-items-center gap-1">
                <i class="bi bi-plus-circle"></i> Nuovo Prodotto
            </a>
        </div>
    </div>
    {% endif %}
{% endif %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for product in object_list %}
  <div class="col">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <span class="badge bg-secondary mb-2">{{ product.category.name }}</span>
        <h5 class="card-title fw-bold">{{ product.name }}</h5>
        <p class="card-text text-truncate text-muted">
          {{ product.description }}
        </p>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <span class="fs-4 fw-bold text-success">€{{ product.price }}</span>
          {% if product.stock > 0 %}
            {% if user.is_authenticated and user.is_manager or user.is_superuser %}
                <span class="badge bg-success">Disponibili: {{ product.stock }} pz</span>
            {% else %}
                {% if product.stock < 5 %}
                    <span class="badge bg-warning text-dark">Ultimi articoli rimasti!</span>
                {% else %}
                    <span class="badge bg-success">Disponibile</span>
                {% endif %}
            {% endif %}
          {% else %}
              <span class="badge bg-danger">Esaurito</span>
          {% endif %}
        </div>
      </div>
      <div class="card-footer bg-white border-top-0 pb-3">
        <div class="d-grid gap-2">
          <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm">Vedi Dettaglio</a>

          {% if user.is_authenticated and user.is_manager %}
          <a href="{% url 'product_edit' product.id %}" class="btn btn-sm btn-warning">Modifica Prodotto</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-12 text-center py-5">
    <p class="fs-5 text-muted">
      Nessun prodotto trovato nel catalogo. Aggiungili dall'admin!
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}
