{% extends 'base.html' %}

{% block title %}{{ product.name }} - TechStore{% endblock %}

{% block content %}
<div class="row bg-white p-4 rounded shadow-sm">
    <div class="col-md-6">
        <span class="badge bg-secondary mb-2">{{ product.category.name }}</span>
        <h1 class="fw-bold mb-3">{{ product.name }}</h1>
        <p class="text-muted fs-5">{{ product.description }}</p>
    </div>
    <div class="col-md-6 border-start ps-4 d-flex flex-column justify-content-between">
        <div>
            <h3 class="text-success fw-bold fs-1 mb-3">€{{ product.price }}</h3>
            <p class="fs-5">
                Stato Magazzino: 
                {% if product.stock > 0 %}
                    {% if user.is_authenticated and user.is_manager or user.is_superuser %}
                        <span class="badge bg-success">Disponibili: {{ product.stock }} pz</span>
                    {% else %}
                        {% if product.stock < 5 %}
                            <span class="badge bg-warning text-dark">Ultimi articoli rimasti!</span>
                        {% else %}
                            <span class="badge bg-success">Disponibile</span>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <span class="badge bg-danger">Esaurito</span>
                {% endif %}
            </p>
        </div>

        <div class="d-grid gap-2 mt-4">
            {% if product.stock > 0 %}
                <button class="btn btn-primary btn-lg">Aggiungi al Carrello</button>
            {% else %}
                <button class="btn btn-secondary btn-lg" disabled>Non disponibile</button>
            {% endif %}
            
            <a href="{% url 'product_list' %}" class="btn btn-outline-secondary">Torna al Catalogo</a>
        </div>
    </div>
</div>
{% endblock %}